<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>Nile Technologies</title>
<link rel="stylesheet" type="text/css" href="/styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/styles/style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/fonts/css/fontawesome-all.min.css">
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
	<link rel="icon" type="image/png" href="images/logo/nile-logo.png"/>
 <link rel="apple-touch-icon" sizes="180x180" href="images/logo/nile-logo.png">
</head>
	
<body class="theme-light" data-highlight="highlight-pink" data-gradient="body-default">
	
<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
	
<div id="page">
	
		
	<div class="page-content  pb-0">
		
		<img class="preload-img" src="images/logo/nile-white.png" width="15%" style="bottom:0; position:fixed;z-index:10;margin: 5% auto; left: 0;right: 0;opacity:0.5">
			<img hidden class="preload-img" src="images/logo/nile-logo.png" width="15%" style="bottom:0; position:fixed;z-index:10;margin: 5% auto; left: 0;right: 0;opacity:0.6">

		<div style="height:100vh;margin-bottom:0" class="card">
			<div class="card-center">

				<div class="ps-5 pe-5">
					<div hidden id="logo" class = "center-block">
						<img src="images/pictures/logo1.png" class= "img-fluid" alt="Nile" style=""/>
					</div>
					
					
					<img hidden class="preload-img" src="images/logo/nile-logo.png" width="10%" style="">
			   
					<h1 class="color-white text-center text-uppercase font-900 fa-4x" translate="login">LOGIN</h1>
					<p class="color-green-dark text-center font-12" translate="Log in to Nile Technologies">
					Log in to Nile Technologies
					</p>
					
					<form method ="post" action="/login">

					<div class="input-style input-transparent no-borders has-icon validate-field">
						<i class="fa fa-user"></i>
						<input type="email" class="form-control validate-email " id="email" name = "email" placeholder="Email"  translate="email">
						<label for="email" class="color-green-dark font-10 mt-1" translate="email">Email</label>
						<i class="fa fa-times disabled invalid color-red-dark"></i>
						<i class="fa fa-check disabled valid color-green-dark"></i>
						<em translate="required">(required)</em>
					</div>

					<div class="input-style input-transparent no-borders has-icon validate-field mt-4">
						<i class="fa fa-lock"></i>
						<input type="password" class="form-control validate-password" id="password" name = "password" placeholder="Password"  translate="password">
						<label for="password" class="color-green-dark font-10 mt-1" translate="password">Password</label>
						<i class="fa fa-times disabled invalid color-red-dark"></i>
						<i class="fa fa-check disabled valid color-green-dark"></i>
						<em translate="required">(required)</em>
					</div>
					
					<div class="row">
						<input type ="submit" class=" btn btn-full btn-xl shadow-large rounded-s text-uppercase font-900 bg-green-dark" value="Log In" translate="login"/>
					</div>
					
					
					
					<div class="d-flex mt-4 mb-4">
						<div class="w-50 font-11 pb-2 color-white opacity-60 text-start"><a href="/signup" class="color-white" translate="Create Account">Create Account</a></div>
						<div class="w-50 font-11 pb-2 color-white opacity-60 text-end"><a href="forgot" class="color-white" translate="Forgot Credentials">Forgot Credentials</a></div>
					</div>
					
					
					

					</form>

				 </div>

			</div>
			<div class="card-overlay bg-black opacity-80"></div>
			<div class="card-overlay-infinite preload-img" data-src="images/pictures/loginimg3.jpg"></div>
		</div>

	</div>
	<!-- End of Page Content-->
   
 
	
</div>

<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/custom.js"></script>
<script type="text/javascript" src="/scripts/jquery.js"></script>



<script>
lang = 'id'
	
	var translations = {
		
		"login":{
			
			en:"Login",
			id:"Gabung"
			
		},
		
		
		"Log in to Nile Technologies":{
			
			en:"Log in to Nile Technologies",
			id:"Masuk ke Nile Technologies"
			
		},
		
		
		"email":{
			
			en:"Email",
			id:"Surel"
			
		},
		
		"password":{
			
			en:"Password",
			id:"Kata sandi"
			
		},
		
		"required":{
			
			en:"(required)",
			id:"(yg dibutuhkan)"
			
		},
		
		"Create Account":{
			
			en:"Create Account",
			id:"Buat Akun"
			
		},
		
		"Forgot Credentials":{
			
			en:"Forgot Credentials",
			id:"Lupa Kredensial"
			
		}
		
		
		
		
	}


$( "*[translate]" ).each(function( index ) {
  console.log( index + ": " + $( this ).text() );
  console.log(translations[$( this ).attr('translate')][lang])
  
  var newWord = translations[$( this ).attr('translate')][lang]
$(this).text(newWord).attr('placeholder',newWord).val(newWord)
  
  
});
</script>
</body>
