<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>Nile Tech</title>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">    
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>
    
<body class="theme-light" data-highlight="highlight-red" data-gradient="body-default">
    
<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
    
<div id="page">
    <div class="page-content pb-0">
        <div data-card-height="cover" class="card">
            <div class="card-center">
                <div class="ps-5 pe-5">
                    <h1 class="color-white text-center text-uppercase font-900 fa-3x">Register</h1>
					<p class="color-green-dark text-center font-12">
						Create a Nile Tech Account
					</p>
                    <form method ="post" action="/signup">            
                    <div class="input-style input-transparent no-borders has-icon validate-field mt-2">
                        <i class="fa fa-at"></i>
                        <input type="email" class="form-control validate-name" id="email" name="email" placeholder="Email">
                        <label for="email" class="color-green-dark font-10 mt-1">Email</label>
                        <i class="fa fa-times disabled invalid color-red-dark"></i>
                        <i class="fa fa-check disabled valid color-green-dark"></i>
                        <em>(required)</em>
                    </div>                
                    <div class="input-style input-transparent no-borders has-icon validate-field mt-2">
                        <i class="fa fa-lock"></i>
                        <input type="password" class="form-control validate-text" name="password" id="password" placeholder="Choose a Password">
                        <label for="password" class="color-green-dark font-10 mt-1">Choose a Password</label>
                        <i class="fa fa-times disabled invalid color-red-dark"></i>
                        <i class="fa fa-check disabled valid color-green-dark"></i>
                        <em>(required)</em>
                    </div>

                        <div hidden style="height:100vw; width:100%"id="map"></div>

                      
					
					<div class="row">
						<input type ="submit" class=" btn btn-full btn-xl shadow-large rounded-s text-uppercase font-900 bg-green-dark" value="Create Account"/>
					</div>
					

                    </form>
    
	

  <div class="text-center mb-5 mt-5">
	  <a href="/" class="color-white font-12 opacity-60">Already Registered? Sign in Here</a>
  </div>
  
            </div>
        </div>
		<div class="card-overlay bg-black opacity-80"></div>
		<div class="card-overlay-infinite preload-img" data-src="images/pictures/loginimg3.jpg"></div>

    </div>

</div>

<script>

    var lat, lon;
	
	
//	if(localStorage.setItem("lastname", "Smith"))
	
	
	
	
	
	const options = {
	  enableHighAccuracy: true,
	  maximumAge: 30000,
	  timeout: 27000
	};
	
	
	
	
	
	
	// check if lat/long is already stored
	if(localStorage.getItem("lat")){
		doSomething(localStorage.getItem("lat"), localStorage.getItem("lon"))
		
		
	} else {
		const watchID = navigator.geolocation.watchPosition(success, error, options);

	}
	

        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.
        let map, infoWindow;
    
        function initMap() {
          map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: lat, lng: lon },
            zoom: 15,
            mapTypeId: 'satellite'
          });
          infoWindow = new google.maps.InfoWindow();
          const locationButton = document.createElement("button");
          locationButton.textContent = "Pan to Current Location";
          locationButton.classList.add("custom-map-control-button");
          map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
          locationButton.addEventListener("click", () => {
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(
                (position) => {
                  const pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                  };
                  infoWindow.setPosition(pos);
                  infoWindow.setContent("Location found.");
                  infoWindow.open(map);
                  map.setCenter(pos);
                },
                () => {
                  handleLocationError(true, infoWindow, map.getCenter());
                }
              );
            } else {
              // Browser doesn't support Geolocation
              handleLocationError(false, infoWindow, map.getCenter());
            }
          });
        }
    
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
          infoWindow.setPosition(pos);
          infoWindow.setContent(
            browserHasGeolocation
              ? "Error: The Geolocation service failed."
              : "Error: Your browser doesn't support geolocation."
          );
          infoWindow.open(map);
        }
    
    
    function doSomething(l1, l2){
        lat = l1
        lon = l2
        console.log(lat,lon)
        
        initMap()
    }
    
    function success(position) {
		
		localStorage.setItem("lat", position.coords.latitude);
		localStorage.setItem("lon", position.coords.longitude);
		
      doSomething(position.coords.latitude, position.coords.longitude);
    }
    
    function error() {
      alert('Sorry, no position available.');
    }
    
    
</script>
<script
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpbgp0DBCSEmr5yLxRxdOZZPncWHHKFMA&libraries=&v=weekly"
	  async
></script>
<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
